
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-2 pull-right">
                <h4><a data-toggle="modal" data-target="#modal-travel"><i class="pull-right glyphicon glyphicon-plus">Add</i></a></h4>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-hover col-md-12">
                <thead>
                    <tr class="info">
                        <th>ID</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Aircraft</th>
                        <th>Date</th>
                        <th>UserName</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let travel of travels">
                        <td>{{travel.id}}</td>
                        <td>{{travel.origin}}</td>
                        <td>{{travel.destination}}</td>
                        <td>{{travel.aircraft}}</td>
                        <td>{{travel.date | date : "medium" }}</td>
                        <td>{{travel.userName}}</td>
                        <td><i routerLink="/detail/{{travel.id}}" class="glyphicon glyphicon-edit"></i></td>
                        <td><i (click)="goRemove(travel.id)" class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
</div>

      
<!-- Modal -->
<div class="modal fade" id="modal-travel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Travel</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group col-md-12">
                            <label for="origin">ORIGIN</label>
                            <input type="text" [(ngModel)]="travel.origin" value="{{ travel.origin }}" class="form-control" id="origin" placeholder="ORIGIN">
                    </div>
                    <div class="form-group col-md-12">
                            <label for="destination">DESTINATION</label>
                            <input type="text" [(ngModel)]="travel.destination" value="{{ travel.destination }}" class="form-control" id="destination" placeholder="DESTINATION" value="">
                    </div>
                    <div class="form-group col-md-12">
                            <label for="date">DATETIME</label>
                            <input class="form-control" [(ngModel)]="travel.date" value="{{ travel.date }}" ng2-datetime-picker date-format="DD/MM/YYYY HH:mm" parse-format="YYYY-MM-DD HH:mm:ss" />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="aircraft">AIRCRAFT</label>
                        <select  class="form-control" [(ngModel)]="travel.aircraft" value="{{ travel.aircraft }}" id="aircraft" placeholder="AIRCRAFT">
                          <option *ngFor="let aircraft of aircrafts" > {{aircraft.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="user">USER</label>
                        <select   class="form-control" [(ngModel)]="travel.userName" value="{{ travel.userName }}" id="userName" placeholder="USERNAME">
                            <option *ngFor="let user of users" > {{user.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goAdd(travel)">Add</button>
            </div>
          </div>
    </div>
</div>


<script type="javascript">
    $('#modal-travel').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>